# build artifacts (make / make sandbox)
sandbox
sprite_view
test_particles
test_impulse
test_dormant
test_handles
test_query
test_corpses
test_types
test_density_route
test_jam
test_scene
test_siege
*.o
frames/
scene_saved.txt
gfx/out/
sandbox_shot.bmp
sprite_view_shot.bmp
gfx/__pycache__/
vat_view
vat_view_shot.bmp
vat/assets/
vat/glad.o
vat_horde
vat_horde_shot.bmp
